.sapUiBlockLayoutSizeL .sapUiBlockCellContent>.sapMText,
.sapMFlexItem>.sapMText {
    font-size: .95rem;
    line-height: 1.2rem;
}
.attachmentsList .sapMLIB,
.attachmentsList .sapMListNoData{
	background-color: transparent;
}
.sapFDynamicPageContent, .sapFDynamicPageContentFitContainer{
	padding: 0;
}
.attachmentsListDialog{
	display: inline-block;
}
.attachmentsListDialog .sapMLIB{
	border: 0;
	justify-content: start;
	padding: 0 !important;
}

.sapMDialog .sapMDialogScrollCont>*{
	/*vertical-align: text-top;*/
}
.marginTop{
	margin-top: 1rem;
}
.sapUiBlockLayoutSizeL:not(.sapUiBlockLayoutKeepFontSize) .sapUiBlockCellContent{
	padding:1rem;
}

.sapUiFup{
	margin-right: 5px;
}

.red {
    color: red !important;
}

.center {
    display: block;
    text-align: center !important;
}

table[id*="table"] .sapMCbMarkChecked {
    border-color: red !important;
}

table[id*="table"] .sapMCbBg.sapMCbMarkChecked:before {
    color: red !important;
}

.toolbar .sapMText,
.sapMListTbl .sapMText,
.sapMListTbl .sapMLabel,
.sapMFlexItem>.sapMText{
    color: #777;
    font-size: 0.875rem !important;
}

span[data-rating="C"] {
    color: red !important;
}

.sapUiSizeCompact .sapMSF,
.sapUiSizeCompact .sapMDP,
.sapUiSizeCompact .sapMCb {
    padding-right: 6px;
    padding-bottom: 1px;
}

.sapUiSizeCompact .sapMTB {
    padding-bottom: 5px;
}

.sapMDP .sapMInputBaseInner {
    padding-right: 2.25rem !important;
}

.sapUiBlockLayoutSizeL .sapUiBlockCellContent {
    padding: 1rem;
}

.margin-right {
    margin-right: 7px;
}

.sapMText {
    font-size: 1rem;
}

.rowCheckbox {
    height: auto !important;
}

.rowCheckbox .sapMCbBg {
    top: 1px;
    left: 0;
}

.sapMIBar .sapMBarChild:first-child {
    margin-left: 0;
}

.sapMITBText {
    font-weight: bold;
    font-family: helvetica;
}

.sapUiTheme-sap_belize .black.sapMLabel,
.sapUiTheme-sap_belize .black.sapMText,
.sapUiTheme-sap_belize_plus .black.sapMLabel,
.sapUiTheme-sap_belize_plus .black.sapMText {
    color: #000 !important;
}

/* --- SUEK THEME styles --- */
.sapUiTheme-utistheme1 .sapMLIBSelected .sapMBtnIcon{
	color: black !important;
}

.sapUiTheme-utistheme1 div[id*="mainElement"] .black,
.sapUiTheme-utistheme1 div[id*="mainElement"] .black {
    color: #b0b63a !important;
}

.black.sapMLabel, .black.sapMText{
    color: #000 !important;
}

.sapUiTheme-utistheme1 div[id*="mainElement"] .sapMLabel,
.sapUiTheme-utistheme1 div[id*="mainElement"] .sapMText{
	color: #f0f0f0;
}

.sapUiTheme-utistheme1 .sapUiSizeCompact .sapMPageWithFooter>section{
	background: rgba(255,255,255,.2);
}

.sapUiTheme-utistheme1 .sapUiBlockLayoutSizeXL .sapUiBlockCellContent{
	padding: 1rem !important;
}
.sapUiTheme-utistheme1 .sapMInputDivWrapper,
.sapUiTheme-utistheme1 .sapMTextArea .sapMTextAreaInner{
	height: 100%;
}
.sapFDynamicPageHeader.sapFDynamicPageHeaderWithContent{
	padding: 0 1rem;
}
.sapUiTheme-utistheme1 .sapMTextAreaInner{
	min-height: 47px;
	padding: 0.1875rem 0.5rem;
	line-height: 1.4rem;
}

.sapUiTheme-utistheme1 .sapUiSizeCompact .sapMListTblCell{
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
}

.sapUiTheme-utistheme1 .sapUiFup.sapUiFUM>form>div{
	top: 0;
}
.sapUshellShell .sapMPageBgStandard{
	background-color:transparent;
}

@media (min-width: 1024px){
	.sapMSplitContainerHideMode>.sapMSplitContainerDetail .sapUiResponsiveMargin,.sapUiResponsiveMargin{
		margin: 0 !important;
	}
}
@media(min-width: 80rem){
	.sapUiTheme-utistheme1 .sapUShellApplicationContainer{
		width: 80rem !important;
		margin-right: auto;
		margin-left: auto;
	}
}